.App {
    text-align: center;
}

div {
    box-sizing: border-box;
}

.list {
    padding-left: 20px;
    text-align: center;
    border-bottom: 1px solid grey;
}

.black-nav {
  background : black;
  width : 100%;
  display : flex;
  color : white;
  padding : 20px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}